#tpl_detail  h1, #tpl_detail h2
{
	padding:2px 10px;
	margin:0;
}
#tpl_detail 
{
	padding: 0;
	height:924px;
	width:758px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #00000;
}

#tpl_detail .wrapper
{
	top:80px;
	left:50px;
	width:608px;
	height:784px;
}

/* CONTENT */

#tpl_detail .content 
{
	height: 170px;
	width:100%;
	position:relative;
}

#tpl_detail .sub_title
{
	width: 597px; /*498-10-50*/	
    margin-bottom: 10px;
    padding: 4px 5px;
	font-weight:bold;
	font-size:24px;
	font-family:"MyriadPro",Verdana, Arial, Helvetica, sans-serif;
		position:relative;

}
#tpl_detail p.sub_comment{
	font-size:14px;
	color:#000000;
}

/*--------- maincontent -----------*/
#tpl_detail .maincontent {
	width: 100%;
	position:relative;
	height:700px;
}

/*------------sub_comment------------------*/
 #tpl_detail .sub_comment {
	width: 610px; /*638-50*/
	position:relative;
	color:#ffffff;
	background:#8C8C8C;
}
#tpl_detail .sub_comment p{
	padding:10px;
}
#tpl_detail .sub_comment p.large{
	padding:10px;
	position:absolute;
	margin-left:300px;
	background:#8C8C8C;
	left:5px;
}
#tpl_detail .sub_comment p.large_left{
	padding:10px;
	position:absolute;
	margin-left:0px;
	background:#A2A2A2;
	width:200px;
}
#tpl_detail .sub_comment div {
	position:relative;
}
 #tpl_detail .sub_comment ol, #tpl_detail .sub_comment ul{
 	margin:0 0 0 20px;
	padding:0;
 }
 #tpl_detail .sub_comment ol li{
 	margin:0;
	padding:0;
 }
 /*if text more*/
  #tpl_detail .sub_sub_comment {
	width: 608px; /*638-50*/
	color:#ffffff;
	background:#8C8C8C;
	margin-left:-10px;
}
 #tpl_detail span.right_sub_comment
 {
	float:right;
	width:270px;
	padding:10px;
 }
/*------------main_large_image -- main_image-----------*/
#tpl_detail .main_large_image {
	padding-bottom:15px;
/*
	left: 0px;
	top:285px;
*/
	width:280px;
	height:325px;
	margin-top:5px;
}

#tpl_detail .main_image {
	padding-bottom:15px;
/*	
	position:absolute;
	left: 0px;
	top:435px;
*/
	margin-top:5px;
	width:150px;
	height:150px;
}

#tpl_detail .main_list_image {
	width:150px;
	height:150px;
}
/*------------main_large_image -- main_image - right-----------*/
#tpl_detail .main_large_image_right {
	padding-bottom:15px;
	width:380px;
	height:325px;
	margin-top:5px;
	right:0px;
}

#tpl_detail .main_image_right {
	padding-bottom:15px;
	width:150px;
	height:150px;
	margin-top:5px;
	right:0px;
}
/*------------main_large_image -- main_image - center-----------*/
#tpl_detail .main_large_image_center {
	padding-bottom:15px;
	width:300px;
	height:325px;
	margin-top:5px;
	left:140px;
}

#tpl_detail .main_image_center {
	padding-bottom:15px;
	width:150px;
	height:150px;
	margin-top:5px;
	left:200px;
}
/*----------------list_item---------------*/
#tpl_detail .list_item{
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	width:630px;
}

#tpl_detail .item_price_list{
	width:300px;
	float:left;
	position:relative;
	margin:0 10px 10px 0;
}
#tpl_detail .item_price_list img{
	float:left;
	margin-right:5px;
}
#tpl_detail .item_price_list p{
	padding:1px;
}
#tpl_detail p.listname{
	font-size:12px;
}
#tpl_detail p.listcat{
	font-size:12px;
	font-color:red;
}
#tpl_detail p.listdiscount{
	font-size:16px;
	color:#BD2B44;
}
#tpl_detail p.listprice{
	font-size:16px;
	color:#BD2B44;
	font-weight:bold;
}


/*theme Colour*/

/*-------- yellow --------*/
#tpl_detail .themeyellow .sub_title
{
	color:#F9A62B;
}
/*-------- red --------*/
#tpl_detail .themered .sub_title
{
	color:#B4193E;
}
/*-------- themegreen --------*/
#tpl_detail .themegreen .sub_title
{
	color:#8DC73F;
}
/*-------- themeblue --------*/
#tpl_detail .themeblue .sub_title
{
	color:#00AEEF;
}
/*-------- themepurple --------*/
#tpl_detail .themepurple .sub_title
{
	color:#9E005D;
}